@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}

* {
    box-sizing: border-box;
}

/* header */
header {
    display: inline;
}

/* navigation */
nav {
    /* background-color: #00a2c6; */
    padding: 5px;
    position: sticky;
    overflow: auto;
    top: 0;
}

nav svg {
    display: inline;
    float: left;
    /* width: 70px;
    height: 70px; */
    padding: 8px;
}

nav li {
    display: inline;
    float: right;
    list-style-type: none;
    padding: 8px;
}

nav a {
    color: rgb(134, 132, 132);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: black;
}

/* body */
#beranda {
    display: flex;
    flex-direction: row;
}


@media screen and (max-width: 568px) {
    #beranda {
        flex-direction: column;
    }
}

#beranda h1 {
    font-size: 50px;
    font-weight: bold;
    color: black;
}

#beranda h2 {
    /* font-size: 20px; */
    font-weight: bold;
    color: red;
}